body{
  margin: 0;
  overflow-x: hidden;
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

.midle {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@@media only screen and (min-width: 500px){
  img{
    padding-left: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .maintext{
    font-size: 25px;
  }
  .btn{
    margin-bottom: 5px;
  }
}
